<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="foo" />
    <meta name="keywords" content="foo, bar" />
    <link
      rel="stylesheet"
      href="https://the.missing.style/v0.2.0/missing.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
    <title>Contact App</title>
    <h1>
      <p style="text-transform: uppercase">contacts.app</p>
      <p>A Demo Contacts Application</p>
    </h1>
  </head>
  <body>
    <!-- {% if request.session.messages %} {% for msg in request.session.messages %}
    <div class="flash">{{ msg }}</div>
    {% endfor %} {% endif %} -->
    {% block content %}
    <h1>Hello World</h1>
    {% endblock %}
  </body>
</html>
